@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: "Barlow Semi Condensed", sans-serif;
}

#choices ul {
  box-sizing: border-box;
  margin-top: 40px;
  /* border: 1px solid white; */
  background: url(images/bg-pentagon.svg) no-repeat center;
  background-size: 250px;
}

#choices ul > li:hover {
  transform: scale(1.1);
}

.rock {
  border: 10px solid hsl(349, 71%, 52%);
}

.rock:hover {
  cursor: pointer;
  border: 10px solid hsl(349, 70%, 56%);
}

.paper {
  border: 10px solid hsl(230, 89%, 62%);
}

.paper:hover {
  cursor: pointer;
  border: 10px solid hsl(230, 89%, 65%);
}

.scissors {
  border: 10px solid hsl(39, 89%, 49%);
  margin-right: 40px;
}

.scissors:hover {
  cursor: pointer;
  border: 10px solid hsl(40, 84%, 53%);
}

.lizard {
  border: 10px solid hsl(261, 73%, 60%);
}

.lizard:hover {
  cursor: pointer;
  border: 10px solid hsl(261, 72%, 63%);
}

.spock {
  border: 10px solid hsl(189, 59%, 53%);
}

.spock:hover {
  cursor: pointer;
  border: 10px solid hsl(189, 58%, 57%);
}

@media screen and (min-width: 768px) {
  #choices ul {
    background-size: 350px;
  }

  #choices ul > li:hover {
    transform: scale(1.1);
  }

  .rock {
    border: 15px solid hsl(349, 71%, 52%);
  }

  .rock:hover {
    cursor: pointer;
    border: 15px solid hsl(349, 70%, 56%);
  }

  .paper {
    border: 15px solid hsl(230, 89%, 62%);
  }

  .paper:hover {
    cursor: pointer;
    border: 15px solid hsl(230, 89%, 65%);
  }

  .scissors {
    border: 15px solid hsl(39, 89%, 49%);
    margin-right: 50px;
  }

  .scissors:hover {
    cursor: pointer;
    border: 15px solid hsl(40, 84%, 53%);
  }

  .lizard {
    border: 15px solid hsl(261, 73%, 60%);
  }

  .lizard:hover {
    cursor: pointer;
    border: 15px solid hsl(261, 72%, 63%);
  }

  .spock {
    border: 15px solid hsl(189, 59%, 53%);
  }

  .spock:hover {
    cursor: pointer;
    border: 15px solid hsl(189, 58%, 57%);
  }
}
